<div class="host-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Host Video</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <video #localVideo autoplay playsinline muted></video>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-header>
        <mat-card-title>Joiner Video</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <video #joinerVideo autoplay playsinline></video>
      </mat-card-content>
    </mat-card>
  </div>
  